@charset "UTF-8";
ul#header{
	list-style: none;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	margin: 0;
}
ul#nav{
	list-style: none;
	display: flex;
}
nav{
	padding: 5px;
	font-size: 0.7rem;
	display: flex;
	justify-content: flex-end;
	background-color: pink;
	color: white;
}
ul#header > li{
	padding: 20px;
}
ul#nav > li{  /* > : 자식 li */
	padding: 0px 10px;
}
ul#nav a{    /* 공백 : 자손 a */
	color: black;
	font-weight: 600;
}
a{
	text-decoration: none;
	padding: 10px;
}