<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Session 연습</title>
</head>
<body>
<!-- 애트리뷰트 scope : 애트리뷰트를 사용할 수 있는 수명(범위) 범위가 작은 것부터 가져온다. 1.<2.<3. 순서로 
	 	   1. request : 컨트롤러에서 view 로 전달만 가능(Model 객체에 저장) 자바의 클래스 HttpServletRequest 타입  		
	 	   2. session : 현재 브라우저가 실행되는 동안(닫히기 전까지) HttpSession 타입
	 	   3. application : 서버가 실행 되는 동안(서버 종료 전까지) ServletContext 타입 
-->
	<a href="/">INDEX</a>
	<div th:text="${username}"></div>	<!-- Model 에서 가져오기 -->
	<div th:if="${session.username != null}">	<!-- session 에서 가져오기 -->
		방법 1 : <span th:text="${session.username}"></span>
	</div>
	<div th:if="${session.userid != null}">
		방법 2 : <span th:text="${session.userid}"></span>
	</div>
	<hr>
	<ul>
		<li><a href="getSession">session.getAttribute()</a></li>
		<li><a href="setSession">session.setAttribute()</a></li>
		<li><a href="setSessionAttribute">madel.addAttrbute()를 세션에</a></li>  <!-- 값을 저장 -->
		<li><a href="getSessionAttribute">@SessionAttribyte</a></li> <!-- 값을 가져오는거 -->
		<li><a href="testSession">다른 컨트롤러에서 @SessionAttribyte</a></li>
	</ul>
</body>
</html>