<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>title</title>
</head>
<body>
	<h2>파일업로드 데모 - 1개 파일 업로드 및 여러 파일 한번에 업로드</h2>
	<hr/>
	<form action="/gallery" method="post" enctype="multipart/form-data">
		<input type="text" name="title"><br/> 
		<!-- 파일 선택 다이얼로그에서 파일형식 필터링 -->
		<label>파일 하나만 선택 : </label>
		<input type="file" accept="image/*" name="file"><br/>
		<label>여러 파일 한번에 선택 : </label>
		<input type="file" accept="image/*" name="files" multiple="multiple"><br/>
		<input type="text" name="writer" value="iclass">
		<button type="submit">전송</button>
	</form>
	<hr/>
	<h2>Gallery List</h2>
	<p>Gallery 테이블 조회 목록(이미지 포함)</p>
	 <ul>
	 <!-- th:if 는 주어진 조건이 참일 때 해당 요소를 렌더링 합니다. 
	 			       조건이 거짓일 경우 해당 요소는 HTML 출력에 포함되지 않습니다. 
	 	  th:text 는 텍스트를 동적으로 출력합니다. HTML 태그를 이스케이프하여 출력합니다. -->
	 	<li th:if="${dto!=null}" style="width: 200px; height: 200px;">
	 		<span>[[${dto.title}]]</span>
	 		<span th:text="${dto.fileNames}"></span><br/>
	 		<!-- 업로드한 파일을 가져와 보여주기 -->
	 		<img th:src="|@{/upload}/${dto.fileNames}|"
	 		th:alt="${dto.title}" width="100%" height="100%"> 	
	 	</li> 
	 </ul>
</body>
</html>